/* header styles */
.raleway-style {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 65px;
  font-style: normal;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.banner{
  border: none;
  margin: 209px 267px 152px 267px;
  height: 237px;
  width: 905px;
}
#btn{
  
  background-color:#4E47FF;
  color:#FFFFFF;
  width: 174px;
  height: 48px;
  border-radius: 10px;
  margin: 0px 365px 0px 365px;
cursor: pointer;
}
#btn:hover{
  background-color: red;
}
#text{
  text-align: center;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px 0px 150px;
}
.nav-title{
  color:#4E47FF;
  font-weight: 34px;
}
.btn-primary{
 background-color: #4E47FF;
 color:#FFFFFF;
 width: 132px;
 height: 48px;
 border-radius: 15px;
 box-shadow: none;
cursor: pointer;
}
.btn-primary:hover{
   background-color: red;
}
.header{
 max-width: 1440px;
  height: 698px;
  background-image: url('../Assets/Hero-bg.png');
}


.banner-style{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 328px;
  margin: 138px 159px 116px 139px;
}
#mini-style{
  height: 328px;
  width: 403px;
  border-radius: 48px;
  overflow: hidden;
  
} 
#banner-head{
  font-size: 42px;
  font-weight: bold;
  width: 517px;
  height: 49px;
}
#banner-text{
  font-size: 24px;
  color: #252432;
  width: 517px;
  height: 60px;
  margin: 23px 0px 0px 0px;
}
#btn-third{
  width: 229px;
  height: 48px;
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 12px 36px;
  border-radius: 10px;
  margin-top: 23px;
  cursor:pointer
}
#btn-third:hover{
  background-color: red;
}

/* productive section */

.Productive-style {
    background-color: #cbd4ff; 
    padding: 50px 80px;
    text-align: center;
    border-radius: 24px; 
    width: 1140px;
    height:350px;
      margin: auto;
}

#Productive-head h3 {
    font-size: 38px; 
    font-weight: bold;
    color:#252432; 
    margin:50px 142px 0px 142px ; 
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.stats h3 {
    font-size: 80px;
    font-weight: bold;
     color: #4E47FF; 
}

.stats p {
    font-size: 20px; 
    color: #000000; 
    font-weight: 400px;
}

/* users feedback section */

.feedback-style {
    background-color: #FFFFFF; 
    text-align: center;
}

.feedback-header h2 {
    color: #1E1E1E;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}
.card-style {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px;
    text-align: left;
    height: 243px;
}
.cards-container {
    display:flex; 
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
.icon-style {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 24px;
}

.icon-style img {
    width: 20px;
    height: 20px;
}

.card-content {
    margin-bottom: 24px;
}

.card-content h3 {
    color: #1E1E1E;
    font-size: 20px; 
    font-weight: bold;
    margin: 0 0 24px 0; 
}

.card-content p {
    color: #555;
    font-size: 15px;
    margin: 0;
}
.users-style {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: auto;
}  
.users-style img {
    width: 40px;
    height: 40px;
    border-radius: 999px;
}
.users-style h3 {
    font-size:15px;
    font-weight: bold;
    color: #757575;
    margin: 0;
}

.users-style p {
    font-size: 10px;
    color: #757575;
    margin: 0;
}
/* focus section */

.focus-section{
  width: 1140px;
  height: 696px;
  background-color: #FFFFFF;
  margin: 137px 149px 92px 151px;
  padding: 71px 150px ;
}
#focus-head{
  color: #000000;
  font-weight: bold;
  font-size: 50px;
  width: 516px;
  height: 60px;
  margin: 71px 312px 20px 312px;
}
#focus-content{
  color:#9A9595;
  width: 487px;
  height: 22px;
  margin: 20px 326px 20px 326px;

}
#btn-frouth{
  width: 195px;
  height: 48px;
  background-color: #4E47FF;
  padding: 12px 36px;
  border-radius: 12px;
  margin: 20px 472px 20px 472px;
  cursor: pointer;
}
#btn-frouth:hover{
  background-color: red;
}
.focus-img{
  width: 840px;
  height: 365px;
  border-radius: 48px;
  margin: 20px 150px 71px 100px;
  overflow: hidden;
}
/* from section */

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 632px;
    background-color: #D6DDED;
    margin: 92px 150px 14px 150px;
}
.form-text{
  width: 528px;
  height: 232px;
  margin: 200px 115px 200px 150px;
  font-weight: bold;
    font-size: 50px;
    color: #000000;
}

.form-container {
  width: 497px;
    max-width: 490px;
    margin: 71px 0px 71px 115px;
    gap: 19px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

#email-style{
  display: flex;
  flex-direction: column;
  width: 497px;
  height: 102px;
  margin: 71px 150px 19px 0px;
}
#email-style input{
  background-color:#FFFFFF;
  width: 485px;
  height: 70px;
  border-radius: 10px
}

{
  display: flex;
  flex-direction: column;
  width: 497px;
  height: 102px;
  margin: 0px 150px 19px 115px;
}
#name-style input{
  background-color:#FFFFFF;
  width: 485px;
  height: 70px;
  border-radius: 10px
}
#message-style{
  display: flex;
  flex-direction: column;
  width: 490px;
  height: 167px;
  margin-top: 19px;
}
#message-style input{
  background-color: #FFFFFF;
  width: 485px;
  height: 135px;
  border-radius: 15px;
  
  
}
form label{
  font-size: 18px;
  color:#000000;
}
#button{
  margin-top: 20px;
    padding: 19px 100px;
    background-color:#4E47FF;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 485px;
    height: 62px;
    cursor: pointer;
}
#button:hover{
  background-color: red;
}
/* footer section */

.footer-section{
  width: 1440px;
  height: 428px;
  background-color: #FFFFFF;
}
#footer-head{
  font-weight: 900px;
  font-size: 100px;
  color: #4E47FF;
  margin: 104px 575px 8px 574px;
  width: 291px;
  height: 121px;
}
#footer-p{
 width: 531px; 
  height: 48px;
  color: #8987A1;
  margin: 0px 455px  20px 454px;
}
.footer-link{
  width: 401px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 520px 103px 519px;
}
.footer-link a{
  text-decoration: none;
  color: #8987A1;
}

