/* header styles */
.raleway-style {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 65px;
  font-style: normal;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.banner{
  border: none;
  margin: 209px 267px 152px 267px;
  height: 237px;
  width: 905px;
}
#btn{
  
  background-color:#4E47FF;
  color:#FFFFFF;
  width: 174px;
  height: 48px;
  border-radius: 10px;
  margin: 0px 365px 0px 365px;
  box-shadow: none;
}
#text{
  text-align: center;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px 0px 150px;
}
.nav-title{
  color:#4E47FF;
  font-weight: 34px;
}
.btn-primary{
 background-color: #4E47FF;
 color:#FFFFFF;
 width: 132px;
 height: 48px;
 border-radius: 15px;
 box-shadow: none;

}
.header{
 max-width: 1440px;
  height: 698px;
  background-image: url('../Assets/Hero-bg.png');
}


.banner-style{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 328px;
  margin: 138px 159px 116px 139px;
}
#mini-style{
  height: 328px;
  width: 403px;
  border-radius: 48px;
  overflow: hidden;
  
} 
#banner-head{
  font-size: 42px;
  font-weight: bold;
  width: 517px;
  height: 49px;
}
#banner-text{
  font-size: 24px;
  color: #252432;
  width: 517px;
  height: 60px;
  margin: 23px 0px 0px 0px;
}
#btn-third{
  width: 229px;
  height: 48px;
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 12px 36px;
  border-radius: 10px;
  margin-top: 23px;
}
/* productive section */

.Productive-style {
    background-color: #cbd4ff; 
    padding: 50px 80px;
    text-align: center;
    border-radius: 24px; 
    width: 1140px;
    height:350px;
      margin: auto;
}

#Productive-head h3 {
    font-size: 38px; 
    font-weight: bold;
    color:#252432; 
    margin:50px 142px 0px 142px ; 
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.stats h3 {
    font-size: 80px;
    font-weight: bold;
     color: #4E47FF; 
}

.stats p {
    font-size: 20px; 
    color: #000000; 
    font-weight: 400px;
}
